<section class="hero-section">
  <div class="hero-landing">
    <div class="ext-video-player">
      <iframe src="https://player.vimeo.com/video/1036825754?loop=1&autoplay=1&controls=1&muted=1" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" title="Design &amp; build philosophy"></iframe>
    </div>
  </div>
  <div class="content">
    <div class="content-left">
      <%= image_tag('profile-pic.png', alt: "profile picture", class: 'profile-picture') %>
    </div>
    <div class="content-right">
      <h2><%= t('pages.home.title') %><br></h2>

      <div class="content-text">
        <p><%= t('pages.home.text_1') %></p>
        <p><%= t('pages.home.text_2') %></p>
        <p><%= t('pages.home.text_3') %></p>
        <p><%= t('pages.home.text_4') %></p>
      </div>
    </div>
  </div>
</section>
