<section class="portfolio-section">
  <div class="portfolio-content">
    <h1><%= t('pages.portfolio.title') %></h1>
    <div class="portfolio-image">
      <%= image_tag('image-portfolio.png', alt: 'Portfolio Image', class: 'portfolio-image') %>
    </div>
    <div>
      <%= t('pages.portfolio.text_1') %>
      <%= t('pages.portfolio.text_2') %>
      <%= t('pages.portfolio.text_3') %>
    </div>
    <p></p>
  </div>
</section>
