<section class="portfolio-section">
  <div class="portfolio-content">
    <h1><%= t('pages.portfolio.title') %></h1>
    <div class="portfolio-images">
      <div class="portfolio-image-container">
        <%= image_tag "image-portfolio.png", alt: "Image mportfolio", class: "portfolio-image" %>
      </div>
    </div>
    <div class="portfolio-text">
      <p><%= t('pages.portfolio.text_1') %></p>
      <p><%= t('pages.portfolio.text_2') %></p>
      <p>
        <%= t(
              'pages.portfolio.text_3_html',
              url: link_to('here', asset_path('optimized.pdf'), class: 'download-link', target: '_blank')
            ).html_safe %>
      </p>
    </div>
    <p></p>
  </div>
</section>
