<section class="teaching-section">
  <h1><%= t('pages.teaching_statement.title') %></h1>
  <div class="text">
    <h2><%= t('pages.teaching_statement.subtitle') %></h2>
  </div>
  <div class="text">
    <p><%= t('pages.teaching_statement.intro_1') %></p>
    <p><%= t('pages.teaching_statement.intro_2') %></p>
    <p><%= t('pages.teaching_statement.intro_3') %></p>
  </div>
  <div class="text">
    <h3><%= t('pages.teaching_statement.title_1') %></h3>
    <p><%= t('pages.teaching_statement.text_1_1') %></p>
  </div>
  <div class="text">
    <h3><%= t('pages.teaching_statement.title_2') %></h3>
    <p><%= t('pages.teaching_statement.text_2_1') %></p>
  </div>
  <div class="text">
    <h3><%= t('pages.teaching_statement.title_3') %></h3>
    <p><%= t('pages.teaching_statement.text_3_1') %></p>
  </div>
  <%= image_tag('teaching_image.png', alt: "teaching image", class: 'teaching-picture') %>
  <div class="text">
    <h3><%= t('pages.teaching_statement.title_4') %></h3>
    <p><%= t('pages.teaching_statement.text_4_1') %></p>
  </div>
  <div class="text">
    <h3><%= t('pages.teaching_statement.title_5') %></h3>
    <p><%= t('pages.teaching_statement.text_5_1') %></p>
  </div>
  <div class="text">
    <h3><%= t('pages.teaching_statement.title_6') %></h3>
    <p><%= t('pages.teaching_statement.text_6_1') %></p>
  </div>
  <div class="text-conclusion">
    <p><%= t('pages.teaching_statement.conclusion_1') %></p>
    <p><%= t('pages.teaching_statement.conclusion_2') %></p>
    <p><%= t('pages.teaching_statement.conclusion_3') %></p>
  </div>
</section>
